# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo

# Testing
.pytest_cache/
.coverage
.coverage.*
htmlcov/
nosetests.xml
coverage.xml

# Environment variables
.env
.env.*

# Build and distribution
build/
dist/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints
